.cinco-frases {
    background-color: yellow;
}

.impar {
    text-transform: uppercase;
}

.par {
    color: green;
}

.titulo {
    color: red;
}

.italico {
    text-size-adjust: 40px;
    border: 1px solid black;
}