div:hover {
    border: 2px solid black;
}

.primaria {
    background-color: blue;
}

.secundaria {
    background-color: orange;
}

.complementar {
    background-color: purple;
}

.escura {
    background-color: rgba(39, 36, 35, 0.753);
}

.clara {
    background-color: cyan;
}