* {
  margin: 10px;
  padding: 0;
}

body {
  font-size: x-large;
}
h1 {
  font-size: large;
}
h2 {

}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  align-items: center;
}

@media screen and (min-width: 581px) {
  body {
    background-color: blanchedalmond;
    font-size: 16px;
  }

  body {
    font-size: x-large;
  }

  h1 {
    font-size: large;
  }

}


